registry=http://nexus.dependency.in.mly0110.org.cn:8081/repository/group-npm/
//nexus.dependency.in.mly0110.org.cn:8081/repository/group-npm/:username=admin
//nexus.dependency.in.mly0110.org.cn:8081/repository/group-npm/:_password=YWRtaW4xMjM=
email=hulen_20@hotmail.com

# registry=https://registry.npmmirror.com/